<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - MAU System</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>

    <div class="container mt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center mt-5">
        <div class="container">
            &copy; 2026 - MAU Management System - Developed by Mostafa Ahmed Soudi
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>